<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cloudant</key>
    <dict>
      <key>apikey</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.apikey</string>
      <key>host</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.host</string>
      <key>iam_apikey_description</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.iam_apikey_description</string>
      <key>iam_apikey_name</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.iam_apikey_name</string>
      <key>iam_role_crn</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.iam_role_crn</string>
      <key>iam_serviceid_crn</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.iam_serviceid_crn</string>
      <key>password</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.password</string>
      <key>port</key>
      <integer>443</integer>
      <key>url</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.url</string>
      <key>username</key>
      <string>REPLACEME.infinite-scrolling-w-cloudant-1641053226411.username</string>
    </dict>
    <key>appName</key>
    <string>infinitescrollingwithcloudantnosqlforioslrivi20220101</string>
  </dict>
</plist>